<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.hello" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Kata</name>
    <description>
        An Adam App.
    </description>
    <author email="adam15free@hotmail.com" href="http://localhost">
        Adam Holmes
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <splash density="land-hdpi" src="www/img/skc-Logo.png" />
        <splash density="land-ldpi" src="www/img/skc-Logo.png" />
        <splash density="land-mdpi" src="www/img/skc-Logo.png" />
        <splash density="land-xhdpi" src="www/img/skc-Logo.png" />
        <splash density="port-hdpi" src="www/img/skc-Logo.png" />
        <splash density="port-ldpi" src="www/img/skc-Logo.png" />
        <splash density="port-mdpi" src="www/img/skc-Logo.png" />
        <splash density="port-xhdpi" src="www/img/skc-Logo.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <icon src="www/img/skc-Logo.png" />
    <engine name="android" spec="^7.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.1" />
</widget>
